<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oh_translate</title>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        body {
            font-size: 16px;
            font-family: 'Microsoft YaHei';
        }

        input {
            height: 24px;
            font-size: 14px;
            outline: none;
        }

    </style>
</head>
<body>
<div id="chat">
    <p>input your word:</p> <input type="text" v-model="question" :style="fromObject">
    <p :style="toObject">{{ anwser }}</p>

        <span>from</span> <select-box :my-value="lanArrs" v-model="FromLan"></select-box>
        <span>to</span> <select-box :my-value="lanArrs" v-model="toLan"></select-box>

</div>

<script>
    function onBack(res) {
        var errCode = res.error_code;
        console.log(errCode);
        var answer;
        if (!errCode) {
            answer = res.trans_result;
            data.anwser = answer ? answer[0].dst : "Sorry, I'm taking a rest now, please come here later";
        } else if (errCode === '54003' || errCode === '54005') {
            //  过于频繁
            data.anwser = "too busy, slow down";
        } else if (errCode === '54004') {
            //  余额不足
            data.anwser = "no money left, can you donate some money to me? this is my Alipay account: 1090240706@qq.com";
        } else if (errCode === '58001' || errCode === '54001' || errCode === '52003') {
            //  语言无法识别
            data.anwser = "are the words you entered form Mars?";
        }
    }
    var data = {
        question: '',
        anwser: 'I can translate it for you, just type',
        FromLan: 'auto',
        toLan: 'auto',
        lanArrs: [
            {value: 'auto', text: '自动检测'},
            {value: 'zh', text: '中文'},
            {value: 'en', text: '英文'},
            {value: 'yue', text: '粤语'},
            {value: 'wyw', text: '文言文'},
            {value: 'cht', text: '繁体中文'},
            {value: 'jp', text: '日语'},
            {value: 'kor', text: '韩语'},
            {value: 'fra', text: '法语'},
            {value: 'spa', text: '西班牙语'},
            {value: 'th', text: '泰语'},
            {value: 'ara', text: '阿拉伯语'},
            {value: 'ru', text: '俄语'},
            {value: 'pt', text: '葡萄牙语'},
            {value: 'de', text: '德语'},
            {value: 'it', text: '意大利语'},
            {value: 'el', text: '希腊语'},
            {value: 'nl', text: '荷兰语'},
            {value: 'pl', text: '波兰语'},
            {value: 'bul', text: '保加利亚语'},
            {value: 'est', text: '爱沙尼亚语'},
            {value: 'dan', text: '丹麦语'},
            {value: 'fin', text: '芬兰语'},
            {value: 'cs', text: '捷克语'},
            {value: 'rom', text: '罗马尼亚语'},
            {value: 'slo', text: '斯洛文尼亚语'},
            {value: 'swe', text: '瑞典语'},
            {value: 'hu', text: '匈牙利语'},
            {value: 'vie', text: '越南语'}
        ],
        fromObject: {},
        toObject: {}
    };
    var selectBox = {
        model: {
            prop: 'checked',
            event: 'change'
        },
        props: ['myValue'],
        template: `<select>
                    <option v-for="option in values" :value="option.value">{{ option.text }}</option>
                   </select>`,
        data: function () {
            return {values: this.myValue};
        }
    };

    var vm = new Vue({
        el: '#chat',
        data: data,
        components: {
            'select-box': selectBox
        },
        methods: {
            getAnwser: _.debounce(
                function () {
                    if (!this.question.trim()) {
                        this.anwser = "I can translate it for you, just type";
                        return;
                    }
                    var salt = 1435660288;
                    var sign = md5('20180328000140946' + this.question + '1435660288V2ZftQR4ZQL4ynRt9nGo');
                    var script = document.createElement('script');

                    var q = new TextEncoder('utf8').encode(this.question);
                    script.type = 'text/javascript';
                    //  百度翻译  http://api.fanyi.baidu.com/api/trans/vip/translate
                    //  图灵机器人  http://openapi.tuling123.com/openapi/api/v2
                    //  传参并指定回调执行函数为onBack
                    script.src = 'http://api.fanyi.baidu.com/api/trans/vip/translate?q=' + this.question + '&from=auto&to=auto&appid=20180328000140946&salt=' + salt + '&sign=' + sign + '&callback=onBack';
                    document.head.appendChild(script);
                }, 500
            )
        },
        watch: {
            question: function (newQ, oldQ) {
                this.anwser = 'Waiting for you to stop typing...';
                this.getAnwser();
            }
        }
    });
</script>
</body>
</html>